@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    width: 100vw;
    height: 90px;
    background-color: black;
}

div h1 {
    position: relative;
    display: inline-block;
}