@charset "UTF-8";

/*Configurando telas maiores que 768px pois o arquivo geral está para mobile e telas pequenas*/

@media screen and (min-width: 768px){

    span#burguer {
        display: none;
    }
    
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        max-width: 800px;
    }
}